// ADD_BY_DEBUG_SH
CODE_SIGN_ENTITLEMENTS =
DEVELOPMENT_TEAM = 8YZVRJLAZH
PROVISIONING_PROFILE = hong_chen_Wildcard_4PAI4RBMIB
PROVISIONING_PROFILE_SPECIFIER = hong_chen_Wildcard_4PAI4RBMIB
CODE_SIGN_IDENTITY = iPhone Developer: Created via API (QGTL9HNFAL)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer: Created via API (QGTL9HNFAL)
PROVISIONING_STYLE = Manual
CODE_SIGN_STYLE = Manual
