<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.im.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".in.login.VELoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imApp"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.bytedance.im.app.in.login.VELoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.VEIMMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imApp" />
        <activity
            android:name=".debug.VEEnvSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imApp" />
        <activity android:name=".custom.operations.VEMessageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imApp"/>
        <activity android:name=".custom.operations.VEUnreadMessageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imApp"/>
    </application>

</manifest>