<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.im.app.contact">
    <application>
        <activity
            android:name=".blockList.VEContactBlockListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imApp" />
        <activity
            android:name=".inviteList.VEContactInviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imApp"
            />
        <activity
            android:name=".robotList.VERobotListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imApp">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.bytedance.im.app.contact.robotList.VERobotListActivity" />
            </intent-filter>
        </activity>
    </application>
</manifest>