.edit-wrapper {
  .edit-input-wrapper {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    justify-content: space-between;

    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;

      &.add-wrapper {
        margin-left: 20px;
      }

      .icon {
        width: 60px;
        height: 60px;

        &.icon-add {
          width: 53px;
          height: 53px;
        }
      }
    }

    .center {
      flex: 1;
      // margin: 0 16px;
      display: flex;
      align-items: center;

      .audio-desc {
        flex-shrink: 0;
        height: 80px;
        width: 100%;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
        background-color: #fff;
      }

      .input-box {
        min-height: 80px;
        background-color: #fff;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        flex-shrink: 1;
        flex-grow: 1;
        margin-left: 10px;
        border-radius: 10px;

        .input-wrapper {
          // height: 80px;
          background-color: #fff;

        }
      }


    }

    .right {
      display: flex;
    }
  }

  .modal-content {
    text-align: center;
  }
}